<h1 style='text-align: center;'>Fetching the data from cloud using API </h1>

In [27]:
import pandas as pd
import requests
import warnings
warnings.filterwarnings("ignore")

In [28]:
df=pd.DataFrame()

In [29]:
for i in range(1,442):
    df_temp=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=b845bca692c236a8b0de32a9e637bd0c&language=en-US&page={}".format(i))
    df_temp=pd.DataFrame(df_temp.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df=df.append(df_temp,ignore_index=True)

In [31]:
df.shape

(8808, 7)

In [32]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,138.146,8.712,25480
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,127.786,8.708,19393
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,74.286,8.592,11702
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,74.174,8.572,15079
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,48.279,8.547,8000

In [33]:
df.to_csv('movies.csv')

In [34]:
df.columns

Index(['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average',
       'vote_count'],
      dtype='object')

# creating a dataset of movies contaning title, overview and genres

In [38]:
df1=pd.DataFrame()
df2=pd.DataFrame()

In [39]:
for i in range(1,442):
    df_temp=requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=b845bca692c236a8b0de32a9e637bd0c&language=en-US&page={}".format(i))
    df_temp=pd.DataFrame(df_temp.json()['results'])[['title','overview']]
    df1=df1.append(df_temp,ignore_index=True)

In [40]:
for i in range(1,442):
    df_genre=requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=b845bca692c236a8b0de32a9e637bd0c&language=en-US&page={}'.format(i))
    df_genre=pd.DataFrame(df_genre.json()['genres'])[['id','name']]
    df2=df2.append(df_genre,ignore_index=True)

In [43]:
df2.drop('id',axis=1,inplace=True)

In [45]:
df2['genre']=df2['name']
df2.head()

        name      genre
0     Action     Action
1  Adventure  Adventure
2  Animation  Animation
3     Comedy     Comedy
4      Crime      Crime

In [46]:
df2.drop('name',axis=1,inplace=True)

In [47]:
df2.head()

       genre
0     Action
1  Adventure
2  Animation
3     Comedy
4      Crime

In [48]:
df1.head()

                      title                                           overview
0  The Shawshank Redemption  Framed in the 1940s for the double murder of h...
1             The Godfather  Spanning the years 1945 to 1955, a chronicle o...
2     The Godfather Part II  In the continuing saga of the Corleone crime f...
3          Schindler's List  The true story of how businessman Oskar Schind...
4              12 Angry Men  The defense and the prosecution have rested an...

In [51]:
df=pd.concat([df1,df2],axis=1)

In [53]:
df.head(10)

,title,overview,genre
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,Action
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",Adventure
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,Animation
3,Schindler's List,The true story of how businessman Oskar Schind...,Comedy
4,12 Angry Men,The defense and the prosecution have rested an...,Crime
5,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",Documentary
6,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",Drama
7,The Dark Knight,Batman raises the stakes in his war on crime. ...,Family
8,Parasite,"All unemployed, Ki-taek's family takes peculia...",Fantasy
9,The Green Mile,A supernatural tale set on death row in a Sout...,History

In [55]:
df.to_csv('movie_review_and_genre.csv')

In [56]:
df.shape

(8808, 3)

In [57]:
df.head()

,title,overview,genre
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,Action
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",Adventure
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,Animation
3,Schindler's List,The true story of how businessman Oskar Schind...,Comedy
4,12 Angry Men,The defense and the prosecution have rested an...,Crime